<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-database.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet"> 

    <link href = "../design_files/css/index_style.css" rel = "stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <title>Home</title>
</head>

<body>
    <button onclick="signout()">Logout</button>
    <h1 id="welcome_tag">Welcome Name!</h1>

    <h3>Home Fitness is the PRIORITY!</h3>

    <ul>
        <li id = "first">chest</li>
        <li id = "second">shoulder</li>
        <li id = "third">back</li>
        <li id = "fourth">tricep</li>
        <li id = "fifth">bicep</li>
    </ul>

    <div class="logger">
        <label>Exercise: </label>
        <input id="exercise_field" placeholder="Exercise type">

        <label>Sets: </label>
        <input id="set_field" placeholder="# of Sets">

        <label>Reps: </label>
        <input id="rep_field" placeholder="# of Reps">

        <button onclick="sendData()">Log Exercise</button>
    </div>

</br>

    <div id = "demo" class = "carousel slide" data-ride = "carousel">
        <div class="carousel-indicators">
            <li data-target = "#demo" data-slide-to = "0" class = "active"></li>
            <li data-target = "#demo" data-slide-to="1"></li>
            <li data-target = "#demo" data-slide-to="2"></li>
        </div>
    
        <div class = "carousel-inner">
            <div class = "carousel-item active">
                <ul>
                    <li id = "exercise_label_1"></li>
                    <li id = "set_label_1"></li>
                    <li id = "rep_label_1"></li>
                </ul>
            </div>
            <div class = "carousel-item">
                <ul>
                    <li id = "exercise_label_2"></li>
                    <li id = "set_label_2"></li>
                    <li id = "rep_label_2"></li>
                </ul>
            </div>

            <div class = "carousel-item">
                <ul>
                    <li id = "exercise_label_3"></li>
                    <li id = "set_label_3"></li>
                    <li id = "rep_label_3"></li>
                </ul>
            </div>

            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
    
        </div>
    </div>

    <p id = "exercise_Field"></p>

    <button>Chat</button>

    <button onclick="readData()">Exercise Plans</button>

    <script src="../design_files/js/home_js.js"></script>
</body>

</html>