<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-auth.js"></script>


    <title>Home</title>
</head>

<body>
    <button onclick = "signout()">Logout</button>
    <h1>Home!</h1>

    <script src = "./design_files/js/home_js.js"></script>
</body>

</html>