<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Signup</title>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-database.js"></script>

</head>

<body>
  <h1>Sign Up Here!</h1>

  <p>Username: </p>
  <input id="user_field" placeholder="Email Address">

  <p>Password:</p>
  <input id="password_field" type="password" placeholder="Password">

  </br>

  <label for="area_1">Choose areas you would like to target and level of intensity.</label>

  <div class="preferences">
    <div class="preferences-1">
      <select id="area_1">
        <option value="Chest">Chest</option>
        <option value="Shoulders">Shoulder</option>
        <option value="Back">Back</option>
        <option value="Triceps">Tricep</option>
        <option value="Biceps">Bicep</option>
        <option value="Quadriceps">Quadriceps</option>
        <option value="Hamstrings">Hamstring</option>
        <option value="Calf">Calves</option>
        <option value = "Cardio">Cardio</option>
      </select>

      <select id="level_1">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>

    <div class="preferences-2">
      <select id="area_2">
        <option value="Chest">Chest</option>
        <option value="Shoulders">Shoulder</option>
        <option value="Back">Back</option>
        <option value="Triceps">Tricep</option>
        <option value="Biceps">Bicep</option>
        <option value="Quadriceps">Quadriceps</option>
        <option value="Hamstrings">Hamstring</option>
        <option value="Calf">Calves</option>
        <option value = "Cardio">Cardio</option>
      </select>

      <select id="level_2">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>

    <div class="preferences-3">
      <select id="area_3">
        <option value="Chest">Chest</option>
        <option value="Shoulders">Shoulder</option>
        <option value="Back">Back</option>
        <option value="Triceps">Tricep</option>
        <option value="Biceps">Bicep</option>
        <option value="Quadriceps">Quadriceps</option>
        <option value="Hamstrings">Hamstring</option>
        <option value="Calf">Calves</option>
        <option value = "Cardio">Cardio</option>
      </select>

      <select id="level_3">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>

    <div class="preferences-4">
      <select id="area_4">
        <option value="Chest">Chest</option>
        <option value="Shoulders">Shoulder</option>
        <option value="Back">Back</option>
        <option value="Triceps">Tricep</option>
        <option value="Biceps">Bicep</option>
        <option value="Quadriceps">Quadriceps</option>
        <option value="Hamstrings">Hamstring</option>
        <option value="Calf">Calves</option>
        <option value = "Cardio">Cardio</option>
      </select>

      <select id="level_4">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>

    <div class="preferences-5">
      <select id="area_5">
        <option value="Chest">Chest</option>
        <option value="Shoulders">Shoulder</option>
        <option value="Back">Back</option>
        <option value="Triceps">Tricep</option>
        <option value="Biceps">Bicep</option>
        <option value="Quadriceps">Quadriceps</option>
        <option value="Hamstrings">Hamstring</option>
        <option value="Calf">Calves</option>
        <option value = "Cardio">Cardio</option>
      </select>

      <select id="level_5">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>

    <div class="preferences-6">
      <label>Total</label>

      <select id="total_select">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>

  </div>
  </br>

  <button onclick="signup()">Enter</button>

  <button onclick="data()">Data</button>

  <script src="../design_files/js/signup_js.js"></script>
</body>

</html>